.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  color: white;
  background: linear-gradient(to bottom right, #06122b, #0c1c40);
  flex-wrap: wrap;
}

.hero-left {
  max-width: 500px;
}

.badge {
  background: rgba(47, 87, 255, 0.3);
  border: 1px solid #4a6dff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.hero-title {
  font-size: 45px;
  margin: 20px 0;
  line-height: 1.2;
  font-weight: 700;
}

.hero-desc {
  color: #bfd4ff;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn-primary {
  background: #2ea8ff;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #4a4a4a;
  padding: 12px 22px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.trial-info {
  color: #8ebbff;
  display: flex;
  gap: 20px;
}

.hero-right .hero-img {
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
}
