.testimonial-container {
  background: #06122b;
  padding: 70px 40px;
  text-align: center;
  color: white;
}

.test-heading {
  font-size: 30px;
  font-weight: bold;
}

.test-subheading {
  color: #b5c7f7;
  margin-bottom: 40px;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 20px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.arrow {
  background: #0b1a3b;
  border: 1px solid #2a3f66;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.arrow:hover {
  background: #1e3d7c;
}

.content {
  width: 80%;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.stars {
  color: gold;
  font-size: 22px;
}

.review-text {
  font-size: 17px;
  margin: 20px 0;
  font-style: italic;
}

.name {
  font-weight: bold;
  margin-top: 10px;
}

.role {
  color: #4bb5ff;
}

.dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #2c3e61;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #00aaff;
}
